/*BEGIN Xbox One Controller Styling*/
.controller.custom{
    background: url(https://shmove.github.io/gamepadviewer-procon/images/base.svg);
    background-size: 550px 420px;
    background-repeat: no-repeat;
    width: 550px;
    height: 420px;
    margin-left: 0;
    margin-top: 0;
}
.custom.disconnected {

}
.custom.disconnected div {
    display: none;
}

/*
.custom .trigger{
    width: 88px;
    height: 121px;
    background: url(http://mrmcpowned.com/gamepad/xbox-assets/trigger.svgz);
    opacity: 0;
}
.custom .trigger.left{
    float: left;
    background-position:0 0;
}
.custom .trigger.right{
    float: right;
    transform: rotateY(180deg);
}
*/
.custom .bumper{
    width: 170px;
    height: 61px;
    background: url(https://shmove.github.io/gamepadviewer-procon/images/bumper.svg);
    opacity: 0;
}
.custom .bumpers{
    position: absolute;
    width: 536px;
    height: 61px;
    left: 107px;
    top: 129px;
    display: none;
}
.custom .bumper.pressed{
    opacity: 1;
}
.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* Minus / Plus */

.custom .back, .custom .start{
    position: absolute;
    background: url(https://shmove.github.io/gamepadviewer-procon/images/plusminus.svg);
    background-size: 46px 44px;
    background-repeat: no-repeat;
    width: 23px;
    height: 22px;
}
.custom .back.pressed, .custom .start.pressed{
    background-position-y: -22px;
}
.custom .back{
    background-position: 0 0;
    left: 195.78px; /* -11 */
    top: 82.15px; /* -10 */
}
.custom .start{
    background-position: -23px 0px;
    left: 330.25px; /* -12 */
    top: 82.29px; /* -10 */
}

/* A B X Y */
/* Positioning: positions from svg file -20 in each axis */

.custom .button{
    position: absolute;
    background: url(https://shmove.github.io/gamepadviewer-procon/images/abxy.svg);
    background-size: 160px 82px;
    background-repeat: no-repeat;
    width: 40px;
    height: 41px;
}
.custom .button.pressed{
    background-position-y: -42px;
}
.custom .a{
    background-position: -40px 0;
    left: 399.25px;
    top: 147.215px;
}
.custom .b{
    background-position: 0 0;
    left: 442.06px;
    top: 110.995px;
}
.custom .x{
    background-position: -120px 0;
    left: 356.85px;
    top: 110.115px;
}
.custom .y{
    background-position: -80px 0;
    left: 399.25px;
    top: 73.515px;
}

/* DPad */

.custom .face{
    position: absolute;
    background: url(https://shmove.github.io/gamepadviewer-procon/images/dpad.svg);
    background-size: 116.3px 56.6px;
    background-repeat: no-repeat;
    width: 28.3px;
    height: 28.3px;
}
.custom .face.pressed{
    background-position-y: -28.3px;
}
.custom .face.up{
    background-position-x: 0px;
    left: 176.8496px;
    top: 168.8px;
}
.custom .face.down{
    background-position-x: -30px;
    left: 176.8496px;
    top: 221.4px;
}
.custom .face.left{
    background-position-x: -60px;
    left: 150.85px;
    top: 194.8px;
}
.custom .face.right{
    background-position-x: -90px;
    left: 203.45px;
    top: 194.8px;
}

/*END Xbox One Controller Styling*/
