/*BEGIN Xbox One Controller Styling*/
.controller.custom{
    background: url(https://shmove.github.io/gamepadviewer-procon/images/base.svg);
    background-size: 550px 420px;
    background-repeat: no-repeat;
    width: 550px;
    height: 420px;
    margin-left: 0;
    margin-top: 0;
}
.custom.disconnected {

}
.custom.disconnected div {
    display: none;
}
/*
.custom .trigger{
    width: 88px;
    height: 121px;
    background: url(http://mrmcpowned.com/gamepad/xbox-assets/trigger.svgz);
    opacity: 0;
}
.custom .trigger.left{
    float: left;
    background-position:0 0;
}
.custom .trigger.right{
    float: right;
    transform: rotateY(180deg);
}
*/
.custom .bumper{
    width: 170px;
    height: 61px;
    background: url(https://shmove.github.io/gamepadviewer-procon/images/bumper.svg);
    opacity: 0;
}
.custom .bumpers{
    position: absolute;
    width: 536px;
    height: 61px;
    left: 107px;
    top: 129px;
    display: none;
}
.custom .bumper.pressed{
    opacity: 1;
}
.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.custom .back, .custom .start{
    position: absolute;
    background: url(https://shmove.github.io/gamepadviewer-procon/images/plusminus.svg);
    background-size: 46px 44px;
    background-repeat: no-repeat;
    width: 23px;
    height: 22px;
}
.custom .back.pressed, .custom .start.pressed{
    background-position-y: -22px;
}
.custom .back{
    background-position: 0 0;
    left: 206.88px;
    top: 93.065px;
}
.custom .start{
    background-position: -23px 0px;
    left: 342.35px;
    top: 93.205px;
}
/*
.custom .abxy{
    position: absolute;
    width: 160px;
    height: 82px;
    top: 231px;
    left: 388px;
    background: url(http://i.imgur.com/tE4M2o4.png);
    background-size: contain;
}
*/
.custom .button{
    position: absolute;
    background: url(https://shmove.github.io/gamepadviewer-procon/images/abxy.svg);
    background-size: 160px 82px;
    background-repeat: no-repeat;
    width: 40px;
    height: 41px;
}
.custom .button.pressed{
    background-position-y: -41px;
}
.custom .a{
    background-position: -40px 0;
    left: 419.25px;
    top: 167.215px;
}
.custom .b{
    background-position: 0 0;
    left: 462.06px;
    top: 130.995px;
}
.custom .x{
    background-position: -120px 0;
    left: 419.25px;
    top: 93.515px;
}
.custom .y{
    background-position: -80px 0;
    left: 376.85px;
    top: 130.115px;
}
/*END Xbox One Controller Styling*/
